.SkillSection{


    margin: 4rem 0;
    width: 100%; 
    
    .progress-bar{
        height: 4rem;
        width: 7rem;
        margin: 40px;
        margin-bottom: 100px;
        margin-left: 0px;
    h3{
        margin-top: 20px;
    }    
    }

    .allprogress{
        display: grid;
        grid-template-columns: auto auto;
        }


}